body {
    margin: 0;
    padding: 0;

    font-family: "Core Sans E", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    background: url("../img/body-bg.png") no-repeat top center;
    background-size: contain;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.section-title {
    font-weight: 900;
    font-size: 68px;
    line-height: normal;
    letter-spacing: 0.05em;
    color: #ff0000;
    text-transform: uppercase;
}

.description {
    font-family: "Besom 2", sans-serif;
    font-weight: normal;
    font-size: 180px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #32383f;
    opacity: 0.1;

    margin: -40px 0 100px 0;
}

.button {
    display: inline-block;
    padding: 22px 100px 38px;

    text-align: center;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    background: url("../img/button.png") no-repeat center;
    background-size: contain;
}

.main-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 0;

    font-size: 18px;
    letter-spacing: 0.7em;
    color: white;
    text-transform: lowercase;
}

.phone {
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.promo {
    padding-top:  150px;
    padding-bottom: 300px;
}

.promo-title {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 10px;

    color: white;
}

.promo-title span {
    font-family: "Besom 2", sans-serif;
    font-weight: normal;
    font-size: 180px;
    line-height: 20px;
    color: #ff0000;

    margin-bottom: 55px;
    margin-left: -10px;
}

.day-wrapper {
    display: flex;
    margin-bottom: 40px;
}

.day-list {
    display: flex;

    list-style: none;
    margin: 45px 0 10px 5px;
    padding: 0;
    width: 205px;

    background: url("../img/day-list.png") no-repeat left center;
}

.day-item {
    width: 36px;
    height: 36px;
    margin-right: 46px;

    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #1b1916;

}

.day-item:last-child {
    margin-right: 0;
}

.promo-text {
    margin: 0 0 11px 30px;
    max-width: 80px;

    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    color: white;

    align-self: flex-end;
}

.features-title {
    margin: 0;
    text-align: center;
}

.features-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    list-style: none;
    margin: 120px 0 0 0;
    padding: 0;

    background: url("../img/map.png") no-repeat 142px 0;
}

.features-item {
    display: flex;
    height: 265px;
}

.features-item:not(:first-child){
    margin-top: 20px;
}

.features-item:nth-child(1)::before {
    content: "";

    width: 366px;
    height: 300px;

    background: url("../img/features-photo-1.png") no-repeat center;
}

.features-item:nth-child(1)::before {
    content: "";

    width: 366px;
    height: 300px;

    background: url("../img/features-photo-1.png") no-repeat center;
}

.features-item:nth-child(1)::before {
    content: "";

    width: 366px;
    height: 300px;
    margin: 20px 0 0 10px;

    background: url("../img/features-photo-1.png") no-repeat center;
}

.features-item:nth-child(2)::before {
    content: "";

    width: 373px;
    height: 312px;

    background: url("../img/features-photo-2.png") no-repeat center;
}

.features-item:nth-child(3)::before {
    content: "";

    width: 374px;
    height: 385px;
    margin-left: -50px;

    background: url("../img/features-photo-3.png") no-repeat center;
}

.features-item:nth-child(4)::before {
    content: "";

    width: 393px;
    height: 321px;

    background: url("../img/features-photo-4.png") no-repeat center;
}

.feature-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 60px 0 0 30px;
}

.features-item:nth-child(even) {
    align-self: flex-end;
}

.features-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.features-item-text {
    max-width: 295px;
}

